@font-face {    
    font-family: 'mi-fuente';
    src: url('../fonts/Satoshi_Complete/Fonts/Variable/Satoshi-Variable.ttf') format('truetype'); 
}

body {
    background-color: black; 
    color: white; 
    margin: 0;
    font-family: 'mi-fuente';
    font-size: 1.5em;
}

.foto-perfil {
    position: relative;
    top: 5%;
    width: 150px; 
    height: 150px; 
    border-radius: 300px; 
    overflow: hidden;
}

.foto-perfil > img{
    width: 180px;
    position: absolute;
    left: -10px;
}

.texto-encabezado h1 {
    margin-bottom: 5px;
    margin-top: -30px;
}
.texto-encabezado p {
    margin: 0;
}

header{
    display: flex;
    margin-top: 10vh;
    align-items: center;
    text-align: left;
    flex-wrap: wrap;
    justify-content: center;
}
.wrapper {
    display: flex;
    justify-content: end;
    padding-right: 50px;
    min-width: 200px;
    width: 10%;
    margin-bottom: 30px;
}
.bio {
    margin-top: 10vh;
    align-items: center;
    text-align: justify;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 0px;
}
.projects{
    margin-top: 10vh;
    align-items: center;
    text-align: left;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 0px;  
}
.botones-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.boton-portafolio, .boton-newsapp {
    flex: 1 1 45%;
    margin: 10px;
    box-sizing: border-box;
}

.boton-portafolio > button, .boton-newsapp > button {
    width: 100%;
    background-color: transparent;
    color: white;
    padding: 20px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.boton-portafolio > button > a, .boton-newsapp > button > a {
    width: 100%;
    text-decoration: none;
    color: inherit;
}

.boton-portafolio > button::before, .boton-newsapp > button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 200%;
    height: 100%;
    background: linear-gradient(90deg, black, white);
    z-index: -1;
    transition: all 0.3s;
    filter: blur(5px);
    opacity: 0;
}

.boton-portafolio > button:hover::before, .boton-newsapp > button:hover::before {
    opacity: 1;
    animation: gradient-shift 1s infinite linear;
}

@media (max-width: 768px) {
    .boton-portafolio, .boton-newsapp {
        flex: 1 1 100%;
    }
}
.contacto {
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 10vh;
    align-items: center;
    text-align: left;
    justify-content: center;
}
.botones-contacto {
    display: flex;
    justify-content: center;
    gap: 20px; 
    padding: 2%;
    margin-bottom: 10%;
    font-size: 0.8em;
}

.btn-wpp > button, 
.btn-correo > button, 
.btn-linkedin > button {
    background-color: transparent; 
    color: white; 
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    font-size: 1em; 
    position: relative; 
    overflow: hidden;
    transition: color 0.3s; 
}

.btn-wpp > button > svg, 
.btn-correo > button > svg, 
.btn-linkedin > button > svg {
    margin-right: 5px;
    width: 16px; 
    height: 16px; 
}

.btn-wpp > button::before, 
.btn-correo > button::before, 
.btn-linkedin > button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%; 
    width: 200%; 
    height: 100%; 
    background: linear-gradient(90deg, black, white);
    z-index: -1;
    transition: all 0.3s;
    filter: blur(5px);
    opacity: 0;
}

.btn-wpp > button:hover::before, 
.btn-correo > button:hover::before, 
.btn-linkedin > button:hover::before {
    opacity: 1;
    animation: gradient-shift 1s infinite linear;
}

@keyframes gradient-shift {
    0% { left: -200%; }
    100% { left: 100%; }
}

@media (max-width: 768px) {
    .botones-contacto {
        flex-direction: column;
        align-items: center;
    }
}