@font-face {    
    font-family: 'mi-fuente';
    src: url('../fonts/Satoshi_Complete/Fonts/Variable/Satoshi-Variable.ttf') format('truetype'); 
}

body {
    background-color: black; 
    color: white; 
    margin: 0;
    font-family: 'mi-fuente';
}

.foto-perfil {
    position: relative;
    top: 5%;
    left: %; 
    width: 150px; 
    height: 150px; 
    border-radius: 300px; 
    overflow: hidden;
}

.foto-perfil > img{
    width: 180px;
    position: absolute;
    left: -10px;
}

.texto-encabezado h1 {
    margin-bottom: 5px;
    margin-top: -30px;
}
.texto-encabezado p {
    margin: 0;
}

header{
    display: flex;
    margin-top: 10vh;
    align-items: center;
    text-align: left;
    flex-wrap: wrap;
    justify-content: center;
}
.wrapper {
    display: flex;
    justify-content: end;
    padding-right: 50px;
    min-width: 200px;
    width: 10%;
}
.bio {
    display: flex;
    margin-top: 10vh;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 0px;
}